<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  @* The viewport meta tag ensure proper rendering and touch zooming on a mobile device.*@
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap Example</title>

  <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link href="~/css/CustomStyles.css" rel="stylesheet" />
</head>


@*ctrl + k + f indentation vs code*@

<body>

  <div class="container">

    <ul class="list-group">
      <li class="list-group-item">India</li>
      <li class="list-group-item">USA</li>
      <li class="list-group-item">UK</li>
    </ul>

    <hr />

    <ul class="list-group">
      <li class="list-group-item">India</li>
      <li class="list-group-item">USA</li>
      <li class="list-group-item">UK</li>
      <li class="list-group-item">
        Australia
        <span class="badge">New</span>
      </li>
    </ul>
    <hr />

    <div class="list-group">
      <a href="http://dell.com" class="list-group-item">Dell</a>
      <a href="http://google.com" class="list-group-item">Google</a>


      <a href="http://microsoft.com" class="list-group-item">Microsoft</a>
    </div>
    <hr />

    <ul class="list-group">
      <li class="list-group-item disabled">Disabled Item</li>
      <li class="list-group-item active">Active Item</li>
      <li class="list-group-item">Other Item 1</li>
      <li class="list-group-item">Other Item 2</li>
    </ul>

    <hr />
    <div class="list-group">
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">List Group Item 1 Heading</h4>
        <p class="list-group-item-text">List Group Item 1 Text</p>
      </a>
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">List Group Item 2 Heading</h4>
        <p class="list-group-item-text">List Group Item 2 Text</p>
      </a>
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">List Group Item 3 Heading</h4>
        <p class="list-group-item-text">List Group Item 3 Text</p>
      </a>
    </div>

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr class="active">
                <td>1</td>
                <td>John</td>
                <td>Male</td>
                <td>John@emailDomain.com</td>
            </tr>
            <tr class="danger">
                <td>2</td>
                <td>Mary</td>
                <td>Femlae</td>
                <td>mary@emailDomain.com</td>
            </tr>
            <tr class="info">
                <td>3</td>
                <td>Ben</td>
                <td>Male</td>
                <td>Ben@emailDomain.com</td>
            </tr>
            <tr class="success">
                <td>4</td>
                <td>Sara</td>
                <td>Female</td>
                <td>sara@emailDomain.com</td>
            </tr>
            <tr class="warning">
                <td>5</td>
                <td>Sam</td>
                <td>Male</td>
                <td>sam@emailDomain.com</td>
            </tr>
        </tbody>
    </table>
</div>

  </div>

  <hr />

  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>